.parent {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.child {
    background-color: #FFD700;
    color: white;
    text-align: center;
}

.child_1 {
    grid-column: 1/13;
}

.child_2 {
    grid-column: 1/7;
}

.child_3 {
    grid-column: 7/13;
}

.child_4 {
    grid-column: 1/5;
}

.child_5 {
    grid-column: 5/9;
}

.child_6 {
    grid-column: 9/13;
}

.child_7 {
    grid-column: 1/4;
}

.child_8 {
    grid-column: 4/7;
}

.child_9 {
    grid-column: 7/10;
}