.parent {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.child {
    background-color: #FFD700;
    color: white;
    text-align: center;
    align-content: center;
    font-weight: bolder;
    font-size: xx-large;
}

.child_1 {
    grid-column: 1/13;
}

.child_2 {
    grid-column: 1/7;
}

.child_3 {
    grid-column: 7/13;
}

.child_4 {
    grid-column: 1/5;
}

.child_5 {
    grid-column: 5/9;
}

.child_6 {
    grid-column: 9/13;
}

.child_7 {
    grid-column: 1/4;
}

.child_8 {
    grid-column: 4/7;
}

.child_9 {
    grid-column: 7/10;
}

.child_10 {
    grid-column: 10/13;
}

.child_11 {
    grid-column: 1/3;
}

.child_12 {
    grid-column: 3/5;
}

.child_13 {
    grid-column: 5/7;
}

.child_14 {
    grid-column: 7/9;
}

.child_15 {
    grid-column: 9/11;
}

.child_16 {
    grid-column: 11/13;
}